
.titulo { font-size: 30px;}

#contenedor {  text-align: center; margin: 25px 0px}

.contenedor-desafio {
margin-left: 50px;
margin-top: 25px;
padding: 50px;
text-align: left;
width: 50%;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
  }

.grisclaro1 { background-color: #eee }
.grisclaro2 {  background-color: #ddd }
.alturamin { min-height: 300px }

.tarjeta {
padding: 20px;
padding-left: 13px !important;
width: 100px;
background-color: dodgerblue;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
color : #fff !important; 
margin: 10px;
}

.respuesta { width: 500px;
height: 50px;
padding-left: 10px;

}
.destino {
background: #aaa;
padding: 1px 5px 1px 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin: 1px;
width: -moz-fit-content;
color: #000;
}
.palabraArrastrable { 
background: #c76cca;
padding: 2px 6px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin: 1px;
width: -moz-fit-content;
color: #fff;
}
.over {  background: pink; }

.letra { font-size: x-large; color: #000 !important; }
#letra-z { background: #ee7692; }
#letra-a { background: #ee6fb6; }
#letra-f { background: #be84bf; }
#letra-m { background: #ee7692; }
#letra-w { background: #7fbde2; }
#letra-y { background: #a9d890; }

